<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tron.web.mapper.JobSpecsMapper">

	<resultMap id="JobSpecResultMap" type="com.tron.web.entity.JobSpec">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="created_at" property="createdAt" jdbcType="DATE"/>
		<result column="updated_at" property="updatedAt" jdbcType="DATE"/>
		<result column="deleted_at" property="deletedAt" jdbcType="DATE"/>
		<result column="start_at" property="startAt" jdbcType="DATE"/>
		<result column="end_at" property="endAt" jdbcType="DATE"/>
		<result column="min_payment" property="minPayment" jdbcType="BIGINT"/>
	</resultMap>

  <insert id="insert" parameterType="com.tron.web.entity.JobSpec">
		insert into job_specs
		(
		`id`,
  	`start_at`,
  	`end_at`,
  	`min_payment`
		)
		values
		(
		#{id},
		#{startAt},
		#{endAt},
		#{minPayment}
		)
	</insert>

  <select id="getById" parameterType="java.lang.String" resultType="com.tron.web.entity.JobSpec" resultMap="JobSpecResultMap">
		select id, `start_at`, `end_at`, `min_payment`, created_at, updated_at, deleted_at
		from job_specs
		where `id` = #{id}
	</select>

</mapper>